html{
    height: 100%;
    margin: 0px;
    background-color: #4099bf;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#recuperarContrasennaCodigo_Div_Principal{
    background-color: white;
    margin: auto;
    margin-top: 80px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.texto_General{
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}

#Codigo_Recuperacion{
    border-radius: 10px;
    border: 0.2px solid;
    height: 30px;
    width: 150px;
}

#Boton_Recuperacion{
    border-radius: 10px;
    border: 0.2px solid;
    height: 30px;
    width: 150px;
}