h2{
    margin: 15px
}

form{
    text-align: center;
}

form * {
    margin: 20px;
}

form input, select, textarea{
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    transition: border-color 0.5s ease-in;
}

form input[type='file']{
    border: none;
    border-radius: 0
}

#realizarSolicitudBoton {
    text-align: right;
    margin: 20px;
}

.modal-content div{
    text-align: right;
}
